<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0da1d958-6e58-43bf-ba29-5fa8f605cb54/resourceGroups/BTS/providers/Microsoft.Web/sites/ContainerPackSimulationWebApp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://containerpacksimulationwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>containerpacksimulationwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContainerPackSimulationWebApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContainerPackSimulationWebApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>